@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --purple-background: #382acc;
  --purple-dark-background: #281e91;
  --white: #ffffff;
  --text-primary: #111322;
  --lila: #f2f1fa;
}
@theme {
  --color-purpleBackground: #382acc;
  --color-purpleDarkBackground: #281e91;
  --color-white: #ffffff;
  --color-textPrimary: #111322;
  --color-lila: #f2f1fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
